main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 800px;
    margin: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }